<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Home')"></head>
<body>
<nav th:replace="/fragments/navbar :: topNavbar('home')"></nav>
<div>
    <div class="container text-center">
        <h1 th:text="${title}"></h1>
    </div>

    <div class="container">
        <a href="/songs">Songs</a>
        <a href="/movies">Movie</a>
        <style>
            a {text-decoration:none;
            color:black;}
        </style>
    </div>

</div>

</body>
</html>